.root {
    text-align: center;
    margin-bottom: 20px;
}

.profileName {
    margin-top: 0;
}

.position {
    margin-top: 0;
    margin-bottom: 0;
}

.email {
    text-align: center;
    content: ' ';
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding-left: 22px;
    background-image: url(./icons/email.svg);
    background-size: 18px 18px;
    background-repeat: no-repeat;
    text-decoration: inherit;
    color: inherit;
}

.email:focus,
.email:hover,
.email:visited {
    text-decoration: inherit;
    color: inherit;
}

.socialNetworkContainer {
    margin-top: 10px;
}

.socialNetworkIcon {
    width: 16px;
}

.separator {
    margin: 0 6px;
}

.profileImg {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 100px;
}

.desc {
    margin-top: 20px;
    margin-bottom: 20px;
}

@media (min-width: 768px) {
    .desc {
        padding-left: 110px;
        padding-right: 110px;
        margin-bottom: 30px;
    }
}
